@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var fullName = user.FullName;
        <li class="nav-item">
            <a  class="nav-link text-dark aaaaaaa" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">

                <div style="margin-top:13px;">
                     @fullName
                </div>
                <div class="image-container1">
                    <img src="@Url.Content(user.Images)" alt="Image" />
                </div>
                @* <img @* class="anhdd" src="@Url.Content(user.Images)" style="width:50px;padding:0px;border-radius:50%; margin-inline:20px;" alt="Alternate" /> *@
                </a>
        </li>
   
    }
    else
    {
        <li class="nav-item">
            <a class=" nutlogin" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<style>
    .aaaaaaa{
        display:flex;
    }
    .image-container1 {
        width: 50px;
        height: 50px;
        overflow: hidden;
        padding: 0px;
        margin-inline: 10px;

    }

        .image-container1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:50%;
        }
    .nutlogin{
        padding:10px 25px;
        font-size:18px;
        color:white;
        background-color: #333;
        margin-right:10px;
        text-decoration: none;
        border-radius:5px;
    }

    .nutlogin:hover{
            padding: 9px 23px;
            color:black;
    }
</style>
