@model IEnumerable<LTWeb_CodeFirst.Models.CarType>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách loại xe</h1>

<p>
    <a asp-action="Create">Thêm loại xe mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại xe
            </th>
            <th>
                Ẩn
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> 
            </td>
        </tr>
}
    </tbody>
</table>
