@model IEnumerable<LTWeb_CodeFirst.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách hãng xe</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Hãng xe
            </th>
            <th>
                Ẩn
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Thông tin chi tiết</a> 
            </td>
        </tr>
}
    </tbody>
</table>
